<div class="row">
  <div class="col-xs-12">
  	<ol class="breadcrumb">
	  <li><a href="#">Início</a></li>
	  <li class="active">Finalizar compra</li>
	</ol>
  	<h1>Finalizar compra</h1>
  	<hr />
  	<p>Possui cadastro? Entre com seu email e senha para logar.</p>
  	<form class="form-inline well" role="form">
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">@</div>
	      <input class="form-control" type="email" placeholder="Digite o email">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="input-group">
		    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
		    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Digite a senha">
		</div>
	  </div>
	  <button type="submit" class="btn btn-default">
	  	<span class="glyphicon glyphicon-log-in"></span>
	  	Entrar
	  </button>
	</form>
  	<hr />
  	<h3>Preencha o formulário abaixo para finalizar a compra.</h3>
  	<form class="form-horizontal" role="form">
	  <div class="form-group">
	    <label for="nomeCompleto" class="col-sm-4 control-label">Digite seu nome completo</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" placeholder="Nome completo">
	    </div>
	  </div>
	   <div class="form-group">
	    <label for="cpf" class="col-sm-4 control-label">CPF</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Digite seu CPF">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="cep" class="col-sm-4 control-label">CEP</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" id="cep" name="cep" placeholder="Digite seu CEP">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="endereco" class="col-sm-4 control-label">Endereço</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Digite seu endereço">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="complemento" class="col-sm-4 control-label">Complemento</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Digite o complemento">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="bairro" class="col-sm-4 control-label">Bairro</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Digite seu bairro">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="cidade" class="col-sm-4 control-label">Cidade</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Digite sua cidade">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="estado" class="col-sm-4 control-label">Estado</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" id="estado" name="estado" placeholder="Digite o estado">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="email" class="col-sm-4 control-label">E-mail</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" id="email" name="email" placeholder="Digite seu email">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="senha" class="col-sm-4 control-label">Senha</label>
	    <div class="col-sm-5">
	      <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha">
	    </div>
	  </div>
		<hr />	 
		<div class="well">
			<h2>Forma de entrega</h2>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadiosF" id="optionsRadios1F" value="option1" checked>
			    <strong>Pac:</strong> R$ 11,45 (3 dias úteis)
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadiosF" id="optionsRadios2F" value="option2">
			    <strong>Sedex:</strong> R$ 15,88 (1 dia útil)
			  </label>
			</div>
		</div>

	 	<hr />
	  	<h2>Seu pedido</h2>
	  	<div class="table-responsive">
		  <table class="table table-striped table-bordered">
		    <tr>
		    	<th>Produto</th>
		    	<th>Preço</th>
		    	<th>Quantidade</th>
		    	<th>Total</th>
		    </tr>
		    <tr>
		    	<td>Produto 1</td>
		    	<td>R$ 100,00</td>
		    	<td>1</td>
		    	<td>R$ 100,00</td>
		    </tr>
		    <tr>
		    	<td>Produto 2</td>
		    	<td>R$ 150,00</td>
		    	<td>2</td>
		    	<td>R$ 300,00</td>
		    </tr>
		    <tr>
		    	<th>FRETE</th>
		    	<td colspan="2">&nbsp;</td>
		    	<td>R$ 11,45</td>
		    </tr>
		    <tr>
		    	<th>TOTAL DO PEDIDO</th>
		    	<th colspan="2">&nbsp;</th>
		    	<th>R$ 411,45</th>
		    </tr>
		  </table>
		</div>

		<div class="well">
			<h2>Selecione o meio de pagamento.</h2>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			    Depósito bancário
			  </label>
			</div>
			<hr />
			<div class="checkbox">
			  <label>
			    <input type="checkbox" value="">
			    Concordo com os <a href="">termos e condições</a>.
			  </label>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-4 col-sm-4">
			    	<br />
			      <button type="submit" class="btn btn-primary">
			      	<span class="glyphicon glyphicon-record"></span>
			      	Finalizar compra
			      </button>
			    </div>
			</div>
		</div>
	</form>
  </div>
</div>