<div class="row">
  <div class="col-xs-12">
  	<ol class="breadcrumb">
	  <li><a href="#">Início</a></li>
	  <li class="active">Login</li>
	</ol>
  	<h1>Login</h1>
  	<hr />
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
  	<br />
	<br />
	<br />
  	<form class="center well" role="form">
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">@</div>
	      <input class="form-control" type="email" placeholder="Digite o email">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="input-group">
		    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
		    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Digite a senha">
		</div>
	  </div>
	  <button type="submit" class="btn btn-default">
	  	<span class="glyphicon glyphicon-log-in"></span>
	  	Entrar
	  </button>
	</form>
	<br />
	<br />
	<br />
  </div>
</div>