<div id="homeCarousel" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homeCarousel" data-slide-to="1"></li>
    <li data-target="#homeCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/produto1600x480.png" alt="Primeiro slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Cras justo odio, dapibus ac facilisis in.</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/produto1600x480.png" alt="Segundo slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Donec id elit non mi porta gravida at eget.</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/produto1600x480.png" alt="Terceiro slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Nullam id dolor id nibh ultricies vehicula ut id elit.</h1>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev" target="_self">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next" target="_self">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><!-- /.carousel -->

<br />

<div class="row">
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Cras justo odio</a></h3>
        <p><a href="#produto">Cras justo odio, dapibus ac facilisis in.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Nullam id dolor</a></h3>
        <p><a href="#produto">Nullam id dolor id nibh ultricies vehicula ut.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Donec id elit non mi</a></h3>
        <p><a href="#produto">Donec id elit non mi porta gravida at eget.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Nullam id dolor</a></h3>
        <p><a href="#produto">Nullam id dolor id nibh ultricies vehicula ut.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
