<div class="row">
  <div class="col-xs-12">
  	<ol class="breadcrumb">
	  <li><a href="#">Início</a></li>
	  <li class="active">Meus pedidos</li>
	</ol>
  	<h1>Meus pedidos</h1>
  	<hr />
  	<div class="table-responsive">
	  <table class="table table-striped table-bordered">
	    <tr>
	    	<th>Pedido</th>
	    	<th>Data</th>
	    	<th>&nbsp;</th>
	    </tr>
	    <tr>
	    	<td>153245875425</td>
	    	<td>25/06/2014</td>
	    	<td><a href="#pedido"><span class="glyphicon glyphicon-th-list"></span> exibir detalhes</a></td>
	    </tr>
	    <tr>
	    	<td>153245875425</td>
	    	<td>25/06/2014</td>
	    	<td><a href="#pedido"><span class="glyphicon glyphicon-th-list"></span> exibir detalhes</a></td>
	    </tr>
	  </table>
	</div>
  </div>
</div>