<div class="row">
  <div class="col-xs-12">
  	<ol class="breadcrumb">
	  <li><a href="#">Início</a></li>
	  <li class="active">Detalhes do pedido</li>
	</ol>
  	<h1>Detalhes do pedido</h1>
  	<hr />
  	<div class="table-responsive">
	  <table class="table table-striped table-bordered">
	    <tr>
	    	<th>Número do pedido</th>
	    	<th>Data</th>
	    	<th>Número de rastreio</th>
	    </tr>
	    <tr>
	    	<td>153245875425</td>
	    	<td>25/06/2014</td>
	    	<td>654SD458 <a href=""><span class="glyphicon glyphicon-screenshot"></span> rastrear</a></td>
	    </tr>
	  </table>
	</div>

	<div class="table-responsive">
	  <table class="table table-striped table-bordered">
	    <tr>
	    	<th>Endereço de entrega</th>
	    	<td>Rua São Paulo, 235 - Ipiranga - CEP 010460-000 - São Paulo - SP</td>
	    </tr>
	    <tr>
	    	<th>Endereço de cobrança</th>
	    	<td>Rua São Paulo, 235 - Ipiranga - CEP 010460-000 - São Paulo - SP</td>
	    </tr>
	    <tr>
	    	<th>Forma de pagamento</th>
	    	<td>Transferência - R$ 400,00</td>
	    </tr>
	  </table>
	</div>

  	<div class="table-responsive">
	  <table class="table table-striped table-bordered">
	    <tr>
	    	<th>Produto</th>
	    	<th>Preço</th>
	    	<th>Quantidade</th>
	    	<th>Total</th>
	    </tr>
	    <tr>
	    	<td>Produto 1</td>
	    	<td>R$ 100,00</td>
	    	<td>1</td>
	    	<td>R$ 100,00</td>
	    </tr>
	    <tr>
	    	<td>Produto 2</td>
	    	<td>R$ 150,00</td>
	    	<td>2</td>
	    	<td>R$ 300,00</td>
	    </tr>
	    <tr>
	    	<th>TOTAL DO PEDIDO</th>
	    	<th colspan="2">&nbsp;</th>
	    	<th>R$ 400,00</th>
	    </tr>
	  </table>
	</div>

	<div class="well">
		<h2>Rastreio do produto</h2>
		<ol>
			<li>Pedido realizado(21/07/2014 16:36)</li>
		 	<li>Confirmação de pagamento(22/07/2014 12:23)</li>
		 	<li>Produto em transporte(24/07/2014 09:18)</li>
		 	<li>Produto entregue(26/07/2014 11:46)</li>
		</ol>
	</div>

  </div>
</div>