<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><a href="#">Início</a></li>
      <li class="active">Produto</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="thumbnail">
        <img src="images/produto300x300.png" alt="...">
    </div>
    <div>
    	<img src="images/produto300x300.png" alt="..." width="75">
    	<img src="images/produto300x300.png" alt="..." width="75">
    	<img src="images/produto300x300.png" alt="..." width="75">
    	<img src="images/produto300x300.png" alt="..." width="75">
    </div>
  </div>

  <div class="col-xs-12 col-md-8">
  	<h1>Lorem ipsum dolor sit amet</h1>
  	<p>Est zril iudico ea, nec et quaestio expetendis consequuntur, esse sale sit ut. Rebum posse decore sea ne, eu nec modo nemore propriae. Novum mundi verterem ei quo.</p>
  	<p><small>De:<del>R$ 10.999,99</del></small></p>
    <p>Por: <strong>R$ 9.999,99</strong></p>
    <p>
    	<form class="form-inline" role="form">
    	   <div class="form-group">
               <input type="text" class="form-control" placeholder="Quantidade">
           </div>
      	   <a href="#carrinho" class="btn btn-primary" role="button">
      	       <span class="glyphicon glyphicon-shopping-cart"></span>
      	       Adicionar ao carrinho
      	   </a>
      	</form>
    </p>
    <p>
      <strong>Disponibilidade:</strong> em estoque
    </p>
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP">
      </div>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-repeat"></span>
        Calcular
      </button>
    </form>
  </div>
</div>

<br />

<div class="row">
	<div class="col-xs-12">
    <h2>Descrição</h2>
    
    <p>Lorem ipsum dolor sit amet, quo phaedrum tacimates ea, ne est persius pertinacia. Ea usu omnes tacimates pertinax. Mei an gubergren dissentias. Vidit eruditi voluptaria pro cu, sale dicat nullam eu his, eruditi commune copiosae mel ad. Adhuc error timeam ex mea. Ea per elit patrioque consectetuer, ex mei mnesarchum dissentiunt.</p>

    <p>Animal ancillae ei pri. Quo velit adversarium an. No has rebum tation. Quem theophrastus id mel. Ad his alia ullamcorper.</p>

    <p>Est zril iudico ea, nec et quaestio expetendis consequuntur, esse sale sit ut. Rebum posse decore sea ne, eu nec modo nemore propriae. Novum mundi verterem ei quo, cu his omnium officiis. Lorem possit docendi his ex. Eam cu etiam conceptam, habemus delicata persequeris his at, malis tempor probatus has no. Pro ea dolor ornatus corrumpit. Has nonumes abhorreant disputationi at, eius falli conclusionemque duo an.</p>

    <p>Ad illum malis nec, essent laboramus an mea. Vide voluptua voluptatum ad sed, ad natum choro salutatus vel, cu per persius singulis vituperatoribus. At fugit quodsi est, cum ut graecis nostrum mandamus. Equidem gloriatur no his. Case utinam persius nam ad.</p>

    <p>Te luptatum menandri ius, ad noster gubergren reformidans has. Ius dicta recusabo mandamus no, nec in cibo wisi legendos, quem abhorreant sadipscing his ex. Te eos molestiae similique intellegam, elit eius persequeris cum te. In viderer saperet detracto vel. Eu appareat torquatos ius.</p>

    <h2>Detalhes</h2>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <tr>
          <th>Peso</th>
          <td>1kg</td>
        </tr>
        <tr>
          <th>Largura</th>
          <td>10cm</td>
        </tr>
        <tr>
          <th>Altura</th>
          <td>20cm</td>
        </tr>
        <tr>
          <th>Comprimento</th>
          <td>30cm</td>
        </tr>
      </table>
    </div>

    <h2>Opiniões dos clientes</h2>

    <p>Nenhuma opinião ainda para este produto.</p>
	</div>
</div>
