<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><a href="#">Início</a></li>
      <li class="active">Produtos</li>
    </ol>
    <h1>Produtos</h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Cras justo odio</a></h3>
        <p><a href="#produto">Cras justo odio, dapibus ac facilisis in.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Nullam id dolor</a></h3>
        <p><a href="#produto">Nullam id dolor id nibh ultricies vehicula ut.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Donec id elit non mi</a></h3>
        <p><a href="#produto">Donec id elit non mi porta gravida at eget.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Nullam id dolor</a></h3>
        <p><a href="#produto">Nullam id dolor id nibh ultricies vehicula ut.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Cras justo odio</a></h3>
        <p><a href="#produto">Cras justo odio, dapibus ac facilisis in.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Nullam id dolor</a></h3>
        <p><a href="#produto">Nullam id dolor id nibh ultricies vehicula ut.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Donec id elit non mi</a></h3>
        <p><a href="#produto">Donec id elit non mi porta gravida at eget.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="thumbnail">
      <a href="#produto">
        <img src="images/produto300x300.png" alt="...">
      </a>
      <div class="caption center">
        <h3><a href="#produto">Nullam id dolor</a></h3>
        <p><a href="#produto">Nullam id dolor id nibh ultricies vehicula ut.</a></p>
        <p><small>De:<del>R$ 10.999,99</del></small></p>
        <p>Por: <strong>R$ 9.999,99</strong></p>
        <p>
          <a href="#carrinho" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Adicionar ao carrinho
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row center">
  <ul class="pagination">
    <li><a href="">&laquo;</a></li>
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li><a href="">5</a></li>
    <li><a href="">&raquo;</a></li>
  </ul>
</div>